@font-face{
    font-family:Ionicons;
    src:url(/src/fonts/ionicons.eot);
    src:url(/src/fonts/ionicons.eot#iefix) format("embedded-opentype"),
    url(/src/fonts/ionicons.woff2) format("woff2"),
    url(/src/fonts/ionicons.woff) format("woff"),
    url(/src/fonts/ionicons.ttf) format("truetype"),
    url(/src/fonts/ionicons.svg#Ionicons) format("svg");
    font-weight:400;
    font-style:normal;
    font-display:swap
}

@font-face {
    font-family: FontAwesome;
    src: url(/src/fonts/FontAwesome.eot);
    src: url(/src/fonts/FontAwesome.eot?#iefix&v=4.4.0) format("embedded-opentype"),url(/src/fonts/FontAwesome.woff2) format("woff2"),url(/src/fonts/FontAwesome.woff) format("woff"),url(/src/fonts/FontAwesome.ttf) format("truetype"),url(/src/fonts/FontAwesome.svg#fontawesomeregular) format("svg");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Noto Sans Korean;
    font-style: normal;
    font-weight: 100;
    src: local("Noto Sans Thin"),local("NotoSans-Thin"),local("Noto Sans CJK KR Thin"),url(/src/fonts/NotoSans-Thin.eot) format("eot"),url(/src/fonts/NotoSans-Thin.woff) format("woff")
}

@font-face {
    font-family: Noto Sans Korean;
    font-style: normal;
    font-weight: 300;
    src: local("Noto Sans Light"),local("NotoSans-Light"),local("Noto Sans CJK KR Light"),url(/src/fonts/NotoSans-Light.eot) format("eot"),url(/src/fonts/NotoSans-Light.woff) format("woff")
}

@font-face {
    font-family: Noto Sans Korean;
    font-style: normal;
    font-weight: 350;
    src: local("Noto Sans DemiLight"),local("NotoSans-DemiLight"),local("Noto Sans CJK KR DemiLight"),url(/src/fonts/NotoSans-DemiLight.eot) format("eot"),url(/src/fonts/NotoSans-DemiLight.woff) format("woff")
}

@font-face {
    font-family: Noto Sans Korean;
    font-style: normal;
    font-weight: 400;
    src: local("Noto Sans Regular"),local("NotoSans-Regular"),local("Noto Sans CJK KR Regular"),url(/src/fonts/NotoSans-Regular.eot) format("eot"),url(/src/fonts/NotoSans-Regular.woff) format("woff")
}

@font-face {
    font-family: Noto Sans Korean;
    font-style: normal;
    font-weight: 500;
    src: local("Noto Sans Medium"),local("NotoSans-Medium"),local("Noto Sans CJK KR Medium"),url(/src/fonts/NotoSans-Medium.eot) format("eot"),url(/src/fonts/NotoSans-Medium.otf) format("otf"),url(/src/fonts/NotoSans-Medium.woff) format("woff")
}

@font-face {
    font-family: Noto Sans Korean;
    font-style: normal;
    font-weight: 700;
    src: local("Noto Sans Bold"),local("NotoSans-Bold"),local("Noto Sans CJK KR Bold"),url(/src/fonts/NotoSans-Bold.eot) format("eot"),url(/src/fonts/NotoSans-Bold.otf) format("otf"),url(/src/fonts/NotoSans-Bold.woff) format("woff")
}

@font-face {
    font-family: Noto Sans Korean;
    font-style: normal;
    font-weight: 900;
    src: local("Noto Sans Black"),local("NotoSans-Black"),local("Noto Sans CJK KR Black"),url(/src/fonts/NotoSans-Black.eot) format("eot"),url(/src/fonts/NotoSans-Black.otf) format("otf"),url(/src/fonts/NotoSans-Black.woff) format("woff")
}
