/* Load Icon Font */

/*@import url('../../src/fonts.css');*/
@font-face {
    font-family: 'Ionicons';
    src: url('/src/fonts/ionicons.woff') format('woff')
}

@media screen and (max-width: 1020px) {
    /* PC */
    div[pressdo-search-form] {
        float: left!important;
        width: calc(100% + 2rem + 2px);
        margin-left: -1rem;
        display: table!important;
        height: 2rem!important;
    }
    div[pressdo-search] {
        width: 100%;
        height: 2.2rem;
    }
    span[pressdo-sb] {
        width: 1%!important;
        height: 2.2rem;
    }
    a[pressdo-sb],
    button[pressdo-sb] {
        height: 2.2rem!important;
        padding: .15rem .5rem .35rem;
    }
    div[sb-wrap] {
        width: 100%!important;
        height: 2.2rem!important;
    }
}

@media screen and (max-width: 42em) {
    /* Mobile */
    a[pressdo-navitem-nonlist],
    a[pressdo-navitem-listdown] {
        padding: .6rem .9rem .5rem!important;
    }
    a[pressdo-sb]:first-of-type {
        margin-left: 0;
        border-left: 0;
    }
    span[ionicon] {
        margin-right: 0;
    }
    span[nav-text] {
        display: none;
    }
    *[ionicon]:before {
        line-height: 1.5rem!important;
    }
}

@media screen and (max-width: 420px) {
    /* Wide-Mobile */
    nav {
        padding: 0 .3rem;
    }
    a[pressdo-logo] {
        margin-right: .3rem;
    }
    a[pressdo-navitem-nonlist],
    a[pressdo-navitem-listdown] {
        padding: .6rem .5rem .5rem!important;
    }
}


/* Icon Settings */

*[ionicon]:before {
    display: inline-block;
    font-family: 'Ionicons';
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    text-rendering: auto;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*[ion-compass]:before {
    content: "\f37c";
}

*[ion-discuss]:before {
    content: "\f2d4";
}

*[ion-func]:before {
    content: "\f318";
}

*[ion-dropdown]:before {
    content: "\f35f";
}

*[ion-rand]:before {
    content: "\f4a8";
}

*[ion-search]:before {
    content: "\f2f5";
    min-width: 15px;
    display: block;
}

*[ion-move]:before {
    content: "\f3d6";
    min-width: 15px;
    display: block;
}

*[ion-unlogined]:before {
    content: "\f47e";
}

*,
 :after,
 :before {
    box-sizing: inherit;
}

 :focus {
    outline: none;
}

html {
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans', arial, 'Apple SD Gothic Neo', 'Noto Sans CJK KR', '본고딕', KoPubDotum, '나눔바른고딕', '나눔고딕', NanumGothic, '맑은고딕', 'Malgun Gothic', sans-serif;
}

body {
    margin: 0;
}

div[pressdo-cover] {
    background-color: #efefef;
    font-size: .9rem;
    margin: 0;
    line-height: 1.5!important;
    color: #373a3c;
    height: 100%;
}

div[nav-cover] {
    background-color: #008275;
}

nav {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1rem;
    font-size: 1rem;
    background-color: #008275;
    color: #eceeef;
    position: relative;
    display: block;
}

nav:after {
    clear: both;
}

nav:after,
nav:before {
    display: table;
    content: " ";
}

a {
    color: #0275d8;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul[nav-container] {
    list-style: outside none none!important;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
    color: #eceeef;
}

ul[pressdo-usermenu] {
    float: right!important;
    list-style: outside none none!important;
    padding-left: 0;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 1rem;
    color: #eceeef;
}

li[pressdo-navitem-nonlist] {
    font-size: .9rem;
    float: left;
    padding: 0;
}

li[pressdo-navitem-listdown] {
    margin-left: .2rem;
    font-size: .9rem;
    float: left;
    padding: 0;
    position: relative;
}

li[pressdo-usermenu] {
    width: 42px;
    height: 42px;
    font-size: .9rem;
    float: left;
    padding: 0;
    position: relative;
    margin-left: .5rem;
}

li[pressdo-usermenu-unlogined] {
    font-size: .9rem;
    float: left;
    padding: 0;
    position: relative;
    margin-left: .5rem;
}

a[pressdo-logo] {
    float: left;
    height: 2.6rem;
    width: 6.6rem;
    background: transparent url('/logo.png') no-repeat scroll 50%/contain;
    padding: 0;
    margin-right: .7rem;
    color: #fff;
    font-size: 1.25rem;
    text-decoration: none;
}

a[pressdo-navitem-nonlist] {
    color: #fff!important;
    font-size: 1rem;
    padding: .6rem .7rem .5rem;
    display: block;
    text-decoration: none;
    background-color: transparent;
}

a[pressdo-navitem-listdown] {
    color: #fff!important;
    font-size: 1rem;
    padding: .6rem .7rem .5rem;
    display: block;
    text-decoration: none!important;
    background-color: transparent;
    cursor: pointer;
}

a[pressdo-navitem-nonlist]:hover,
a[pressdo-navitem-nonlist]:active,
a[pressdo-navitem-listdown]:hover,
a[pressdo-navitem-listdown]:active {
    text-decoration: none!important;
    background-color: #38a59a;
}

a[pressdo-navitem-listdown]:after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .25rem;
    vertical-align: middle;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-left: .3em solid transparent;
}

a[pressdo-usermenu]:hover {
    background-color: #38a59a;
}

a[pressdo-usermenu] {
    width: 42px;
    height: 42px;
    display: inline-block;
    color: #fff!important;
    font-size: 1rem;
    padding: 0;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

a[pressdo-usermenu]:after {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    content: "";
    margin-left: 0;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

a[pressdo-sb]:first-of-type {
    border-right: 0;
    margin-right: -1px;
}

a[pressdo-sb],
button[pressdo-sb] {
    margin: 0;
    height: 2.62rem;
    color: #000;
    font-size: 1.2rem!important;
    padding: .25rem .5rem;
    border-radius: 0;
    border: 1px solid #ccc;
    border-left-width: .0625rem;
    background-color: #fff;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

img[pressdo-usermenu] {
    width: 42px;
    height: 42px;
    border: 0;
}

span[ionicon]:before {
    min-width: 1em;
    text-align: center;
}

span[nav-text] {
    margin-left: .3rem;
}

span[pressdo-sb] {
    width: auto;
    font-size: 0;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

span[pressdo-usermenu-unlogined] {
    display: inline-block;
    font-size: 1.7rem;
    text-align: center;
    width: 2.4rem;
    padding-top: .3rem;
    padding-left: .3rem;
    margin-right: 0;
    margin-bottom: .1rem;
    height: fit-content;
    vertical-align: middle;
}

div[pressdo-crossline] {
    height: 1px;
    margin: .5rem 0;
    background-color: #e5e5e5;
    overflow: hidden;
}

div[pressdo-navfunc] {
    left: auto;
    right: -6px;
    font-size: .9rem;
    border-radius: 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    float: left;
}

div[pressdo-usermenu-down] {
    left: auto;
    right: 0;
    font-size: .9rem;
    border-radius: 0;
    position: absolute;
    top: 100%;
    z-index: 1000;
    display: none;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    float: left;
}

div[pressdo-search] {
    display: table-cell;
    position: relative;
    z-index: 999;
    float: left;
    width: 220px;
    height: 2.62rem;
    vertical-align: middle;
    line-height: 1.5;
}

div[sb-wrap] {
    display: table-cell;
    position: relative;
    z-index: 999;
    float: left;
    width: 220px;
    height: 2.62rem;
    vertical-align: middle;
    line-height: 1.5;
}

div[pressdo-search-form] {
    float: right;
    display: inline-table;
    vertical-align: middle;
    border-collapse: separate;
    font-size: .9rem;
    margin-block-end: 0;
}

form {
    margin-block-end: 0;
}

input[pressdo-search] {
    width: 100%;
    height: 100%;
    padding: .25rem .5rem;
    margin: 0;
    border-radius: 0;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: .0625rem solid #ccc;
    font-size: .9rem;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

button[pressdo-sb] {
    margin-left: 0;
    border-left: 0;
}

article {
    margin: 10;
    font-size: 1.5rem
}

a {
    text-decoration: none;
}

.fn {
    list-style-type: none;
    padding-inline-start: 0;
}

._table {
    border-collapse: collapse;
}

#_toc {
    border: 1px solid;
    display: inline-block;
    padding: 12px 20px 18px 0;
}

#d_content {
    line-height: 1.5;
    font-size: .9rem;
    padding: .7rem;
}

#_toc-t {
    font-size: 1.25em;
    margin-left: 14px;
}

._toc_ln {
    padding-left: 20px;
}

._ref {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    font-size: 1.8em;
}

._ref:before {
    float: left;
    font-family: 'Ionicons';
    font-weight: 400;
    font-size: .8em;
    line-height: 1.8em;
    text-align: center;
    margin: 0 .5rem 0 .2rem;
    width: .9em;
    content: "\f3d0";
}

h2[category-t] {
    display: inline-block;
    border: 0;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-size: inherit;
}


/* {{{+1 폰트 크기 설정 영역}}} */

._text-size-up-1 {
    font-size: 1.28889em;
}

._text-size-up-2 {
    font-size: 1.38889em;
}

._text-size-up-3 {
    font-size: 1.48144em;
}

._text-size-up-4 {
    font-size: 1.574em;
}

._text-size-up-5 {
    font-size: 1.66667em;
}

._text-size-dn-1 {
    font-size: .92589em;
}

._text-size-dn-2 {
    font-size: .83333em;
}

._text-size-dn-3 {
    font-size: .74067em;
}

._text-size-dn-4 {
    font-size: .64811em;
}

._text-size-dn-5 {
    font-size: .62222em;
}
