<form class="pagelist-menu" method=""get>
    <label for="namespaceSelect">이름공간:</label>
    <select n:inner-foreach="$wiki['page']['data']['backlink_count'] as $cnt" class="selfield" id="namespaceSelect" name="namespace" value="문서">
        <option value="{$cnt['namespace']}" n:attr="selected: $uri_data['query']->namespace == $cnt['namespace']">{$cnt['namespace']} ({$cnt['count']})</option>
    </select>
    <select class="selfield" name="flag" value="0">
        <option value="0" n:attr="selected: $uri_data['query']->flag == 0">(전체)</option>
        <option value="1" n:attr="selected: $uri_data['query']->flag == 1">link</option>
        <option value="2" n:attr="selected: $uri_data['query']->flag == 2">file</option>
        <option value="4" n:attr="selected: $uri_data['query']->flag == 4">include</option>
        <option value="8" n:attr="selected: $uri_data['query']->flag == 8">redirect</option>
    </select>
    <button type="submit" class="pressdo-btn btn-blue">제출</button>
</form>
<div class="bt-g page-btn-area">
    {if !$wiki['page']['data']['prev_ver']}
        {var $ptag = 'span'}
        {var $phref = null}
    {else}
        {var $ptag = null}
        {var $phref = 'href="/history/'.$uri_data['title'].'?until='.$wiki['page']['data']['prev_ver'].'"'}
    {/if}
    <a n:tag="$ptag" n:attr="href: $phref, disabled: ($ptag)" class="pressdo-btn btn-page" role="button">
        <svg data-v-3385c7ee="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"></path></svg>
        <span>{$lang['history']['prev']}</span>
    </a>
    {if !$wiki['page']['data']['next_ver']}
        {var $ntag = 'span'}
        {var $nhref = null}
    {else}
        {var $ntag = null}
        {var $nhref = 'href="/history/'.$uri_data['title'].'?from='.$wiki['page']['data']['next_ver'].'"'}
    {/if}
    <a n:tag="$ntag" n:attr="href: $nhref, disabled: ($ntag)" class="pressdo-btn btn-page" role="button">
        <span>{$lang['history']['next']}</span>
        <svg data-v-3385c7ee="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path></svg>
    </a>
</div>
<div>
    {if empty($wiki['page']['data']['backlink'])}
        {$lang['msg']['no_backlinks']}
    {/if}
    <div n:foreach="$wiki['page']['data']['backlink'] as $key => $val">
        <h3>{$key}</h3>
        <ul n:inner-foreach="$val as $v">
            {if $v['force_show_namespace'] || $v['document']['namespace'] !== '문서'}
                {var $ns = $v['document']['namespace'].':'}
            {else}
                {var $ns = ''}
            {/if}{$v['title']}
            <li><a href="/w/{$ns.$v['document']['title']}">{$ns.$v['document']['title']}</a> ({$v['type']})</li>
        </ul>
    </div>
</div>
<div class="bt-g page-btn-area">
    {if !$wiki['page']['data']['prev_ver']}
        {var $ptag = 'span'}
        {var $phref = null}
    {else}
        {var $ptag = null}
        {var $phref = 'href="/history/'.$uri_data['title'].'?until='.$wiki['page']['data']['prev_ver'].'"'}
    {/if}
    <a n:tag="$ptag" n:attr="href: $phref, disabled: ($ptag)" class="pressdo-btn btn-page" role="button">
        <svg data-v-3385c7ee="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"></path></svg>
        <span>{$lang['history']['prev']}</span>
    </a>
    {if !$wiki['page']['data']['next_ver']}
        {var $ntag = 'span'}
        {var $nhref = null}
    {else}
        {var $ntag = null}
        {var $nhref = 'href="/history/'.$uri_data['title'].'?from='.$wiki['page']['data']['next_ver'].'"'}
    {/if}
    <a n:tag="$ntag" n:attr="href: $nhref, disabled: ($ntag)" class="pressdo-btn btn-page" role="button">
        <span>{$lang['history']['next']}</span>
        <svg data-v-3385c7ee="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path></svg>
    </a>
</div>