<div class="history-menu">
    <div class="bt-g history-menu-area">
        {if !$wiki['page']['data']['prev_ver']}
            {var $ptag = 'span'}
            {var $phref = null}
        {else}
            {var $ptag = null}
            {var $phref = 'href="/history/'.$uri_data['title'].'?until='.$wiki['page']['data']['prev_ver'].'"'}
        {/if}
        <a n:tag="$ptag" n:attr="href: $phref, disabled: ($ptag)" class="pressdo-btn btn-page" role="button">
            <svg data-v-3385c7ee="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"></path></svg>
            <span>{$lang['history']['prev']}</span>
        </a>
        {if !$wiki['page']['data']['next_ver']}
            {var $ntag = 'span'}
            {var $nhref = null}
        {else}
            {var $ntag = null}
            {var $nhref = 'href="/history/'.$uri_data['title'].'?from='.$wiki['page']['data']['next_ver'].'"'}
        {/if}
        <a n:tag="$ntag" n:attr="href: $nhref, disabled: ($ntag)" class="pressdo-btn btn-page" role="button">
            <span>{$lang['history']['next']}</span>
            <svg data-v-3385c7ee="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path></svg>
        </a>
    </div>
    <form>
        <div class="history-menu-area history-goto">
            <input class="textfield" type="number" name="from" pattern="\d+" required>
            <span>r</span>
            <button class="pressdo-btn" type="submit">
                <svg data-v-5e68844d="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M307 34.8c-11.5 5.1-19 16.6-19 29.2l0 64-112 0C78.8 128 0 206.8 0 304C0 417.3 81.5 467.9 100.2 478.1c2.5 1.4 5.3 1.9 8.1 1.9c10.9 0 19.7-8.9 19.7-19.7c0-7.5-4.3-14.4-9.8-19.5C108.8 431.9 96 414.4 96 384c0-53 43-96 96-96l96 0 0 64c0 12.6 7.4 24.1 19 29.2s25 3 34.4-5.4l160-144c6.7-6.1 10.6-14.7 10.6-23.8s-3.8-17.7-10.6-23.8l-160-144c-9.4-8.5-22.9-10.6-34.4-5.4z"></path></svg>
            </button>
        </div>
    </form>
</div>
<form action="/diff/{$uri_data['title']|escapeUrl}" method="GET">
    <p><button class="pressdo-btn bt-white" type="submit">{$lang['history']['compare_revision']}</button></p>
    <ul class="lists">
        {foreach $wiki['page']['data']['history'] as $d}

            {if $d['count'] > 0}
                {var $color = 'green'}
                {var $flag = '+'}
            {elseif $d['count'] == 0}
                {var $color = 'gray'}
                {var $flag = ''}
            {elseif $d['count'] < 0}
                {var $color = 'red'}
                {var $flag = ''}
            {/if}
            <li data-pressdo-history><time datetime="{$d['date']-32400|date: 'Y-m-d\TH:i:s'}.000Z">{$d['date']|date: 'Y-m-d H:i:s'}</time> 
                <span data-pressdo-history-menu>(<a href="/w/{$uri_data['title']|escapeUrl}?rev={$d['rev']}">{$lang['history']['view']}</a> | 
                <a href="/raw/{$uri_data['title']|escapeUrl}?rev={$d['rev']}">RAW</a> | 
                {*<a href="<?=$uri['blame'].$Doc.$uri['prefix'].'rev={$d['rev']}">Blame</a> | *}
                <a href="/revert/{$uri_data['title']|escapeUrl}?rev={$d['rev']}">{$lang['history']['revert']}</a>{if $d['rev'] > 1} | 
                <a href="/diff/{$uri_data['title']|escapeUrl}?rev={$d['rev']}&oldrev={=$d['rev'] - 1}">{$lang['history']['diff']}</a>{/if}{if !empty($d['ip']) && $d['ip'] == $wiki['session']['ip'] && !empty($wiki['session']['member']['username'])} | 
                <a href="/move_ip/{$uri_data['title']|escapeUrl}?dt={$d['date']}">{$lang['history']['move_ip']}</a>{/if}
                {*if(Data::inACLgroup($user['typename'], 'admin')){
                ?> | 
                        <a href="<?=$uri['hide'].$Doc.'?rev='.$d['rev']?>">숨기기</a>
                }*})
                </span>
                <input data-pressdo-history-radio type="radio" name="oldrev" value="{$d['rev']}" v="inline-block"><input data-pressdo-history-radio type="radio" name="rev" value="{$d['rev']}" v="inline-block">
                <i>{switch $d['logtype']}
                    {case 'revert'}
                        ({=$lang['log']['revert']|replace: '@1@', $d['target_rev']})
                    {case 'delete', 'create'}
                        ({$lang['log'][$d['logtype']]})
                    {case 'move'}
                        ({=$lang['log']['move']|replace: ['@1@' => $d['from'], '@2@' => $d['to']]})
                {/switch}</i>
                <strong>r{$d['rev']}</strong> <span>(<span class="history-{$color}">{$flag.$d['count']}</span>)</span>
                <div data-pressdo-history-menu style="display:inline;">
                    <a n:if="$d['author'] === null" style="{$d['style']}" class="user">{$d['ip']}</a>
                    <a n:if="$d['author'] !== null" style="{$d['style']}" class="user user-member">{$d['author']}</a>
                </div>
                (<span class="history-gray">{$d['log']}</span>)
            </li>
        {/foreach}
    </ul>
    <div class="bt-g history-menu-area">
        <a n:tag="$ptag" n:attr="href: $phref, disabled: ($ptag)" class="pressdo-btn btn-page" role="button">
            <svg data-v-3385c7ee="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z"></path></svg>
            <span>{$lang['history']['prev']}</span>
        </a>
        <a n:tag="$ntag" n:attr="href: $nhref, disabled: ($ntag)" class="pressdo-btn btn-page" role="button">
            <span>{$lang['history']['next']}</span>
            <svg data-v-3385c7ee="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z"></path></svg>
        </a>
    </div>
</form>