/* Basic */
.w {overflow:hidden;}
.w p {margin-top:0;}
.w ol, .w ul {margin: .4em 0 .4em 1.5em;padding-left: .5rem;}
.w li {margin: .4em 0;}
.w .wiki-paragraph {margin-bottom: 1rem;}
.w hr{margin: .5em 0;height: 0;box-sizing: content-box;border: 0;border-top: .0625rem solid #ccc;}
.pressdo-dark-mode .w hr{border-top-color: #383b40;}
.w em {font-style:italic;}
.w .wiki-clearfix {clear:both;}

/* Category Area */
div.wiki-categories {background-color: #fff;background-color: var(--light-article-background-color,var(--article-background-color,#fff));border: 1px solid #ccc;border-radius: 4px;font-size: .9rem;margin: 0 0 1em;padding: .2rem .5rem;position: relative;}
div.wiki-categories {display: -webkit-box;overflow: hidden;-webkit-box-orient: vertical;-webkit-line-clamp: 1;}
div.wiki-categories>span {display: inline-block;border: 0;padding: 0;margin: 0;font-weight: 400;font-size: inherit;}
div.wiki-categories>span:after {content: ":";}   
div.wiki-categories>ul {margin: 0;padding: 0;}
div.wiki-categories li::marker{content: "";}
div.wiki-categories li, div.wiki-categories ul {display: inline;}
div.wiki-categories li:not(:last-of-type):after {border-left: 1px solid #888;content: "";display: inline-block;height: .8rem;margin: 0 .4rem -.1rem;}
div.wiki-categories li:has(a.blur) {filter: blur(3px); -webkit-filter: blur(3px);}
div.wiki-categories li:has(a.blur):hover {filter: inherit; -webkit-filter: inherit;}

/* Heading */
.w h1.wiki-heading{font-size: 2em;}
.w h2.wiki-heading{font-size: 1.8em;}
.w h3.wiki-heading{font-size: 1.6em;}
.w h4.wiki-heading{font-size: 1.5em;}
.w h5.wiki-heading{font-size: 1.3em;}
.w h6.wiki-heading{font-size: 1.1em;}
.w h1.wiki-heading,
.w h2.wiki-heading,
.w h3.wiki-heading,
.w h4.wiki-heading,
.w h5.wiki-heading,
.w h6.wiki-heading {
    border-bottom: 1px solid #ccc;
    margin: 1.2em 0 .8em;
    padding-bottom: 5px;
}
.pressdo-dark-mode {
    .w h1.wiki-heading,
    .w h2.wiki-heading,
    .w h3.wiki-heading,
    .w h4.wiki-heading,
    .w h5.wiki-heading,
    .w h6.wiki-heading {border-bottom-color:#383b40}
}
.w .wiki-heading {cursor:pointer;}
.w .wiki-heading:before {float: left;font-family: Ionicons;font-weight: 400;font-size: .8em;line-height: 1.8em;text-align: center; margin: 0 .5rem 0 .2rem; width: .9em;color: #666;content: "";}
.w .wiki-heading[fold=true]{opacity:.5;}
.w .wiki-heading[fold=true]:before{content: "";}

.w .wiki-heading-content                {margin-bottom:1rem;}
.w .wiki-heading-content:last-of-type   {margin-bottom:0;}
.w .wiki-heading-content[fold=true]{display:none;}
.w .wiki-edit-section {float: right;font-size: .8rem;}

div[data-pressdo-doc-tablewrap]         {display:block;max-width:100%;overflow-x:auto;margin:10px 0;}
.w .wiki-macro-toc {border: 1px solid #ccc;display: inline-block;padding: 12px 20px 18px 0;margin-left: 5px;}
.pressdo-dark-mode .w .wiki-macro-toc {border-color:#383b40;}
.w .wiki-macro-toc:before {content: "목차";font-size: 1.25em;margin-left: 14px;}
.w .wiki-macro-toc > .toc-indent:first-of-type {margin-top: 12px;}
.w .toc-indent {padding-left: 20px;}    
.w .toc-item {display: block;}

/* Text Syntax */
.w del{color:grey;}
.w del:hover {-webkit-text-decoration: none;text-decoration:none}

code,kbd,pre,samp{font-family:Menlo,Monaco,Consolas,Courier New,monospace;font-size:1em;}
.w code,kbd{padding:.2rem .4rem; font-size:90%!important;}
.w code {padding:2px;background-color:transparent;border:none;border-radius:0;}
.w pre{padding: 7px;background-color: #eee;border: 1px solid #ddd;border-radius: 3px;overflow-x: auto;}
.w pre code {background: none;border: none;padding:0}
.pressdo-dark-mode .w pre {background-color: #2d2f34;border-color: #383b40;color: #ddd;}
.w .wiki-size.size-down-1 {font-size:.9258888889em}
.w .wiki-size.size-down-2 {font-size:.8333333333em}
.w .wiki-size.size-down-3 {font-size:.7406666667em}
.w .wiki-size.size-down-4 {font-size:.6481111111em}
.w .wiki-size.size-down-5 {font-size:.6222222222em}
.w .wiki-size.size-up-1 {font-size:1.2888888889em}
.w .wiki-size.size-up-2 {font-size:1.3888888889em}
.w .wiki-size.size-up-3 {font-size:1.4814444444em}
.w .wiki-size.size-up-4 {font-size:1.574em}
.w .wiki-size.size-up-5 {font-size:1.6666666667em}

/* link */
.w .wiki-link-external,
.w .wiki-link-external-image {color: #090!important;}
.w .wiki-link-external:before,
.w .wiki-link-external-image:before {padding: 0 0.15em;background: green;color: #fff;content: "";font-family: Ionicons!important;}
.w .not-exist {color:red;}
.w .wiki-link-auto {cursor:default;}
.w .wiki-self-link{font-weight:700;}
.pressdo-dark-mode .not-exist{color:#dc4343!important;}

/* image */
.w img {display:inline-block; max-width: 100%;}
.w .wiki-image {position:absolute; top:0; right: 0; bottom: 0; left: 0;}
.w .wiki-image-align-left {float:left;}
.w .wiki-image-align-right {float:right;}
.w .wiki-image-align-top {vertical-align:top;}
.w .wiki-image-align-middle {vertical-align:middle;}
.w .wiki-image-align-bottom {vertical-align:bottom;}
.w .wiki-image-align-center,
.w .wiki-image-align-middle {display:block;text-align:center;}
.w .wiki-image-align-center,
.w .wiki-image-align-bottom,
.w .wiki-image-align-left,
.w .wiki-image-align-middle,
.w .wiki-image-align-normal,
.w .wiki-image-align-right,
.w .wiki-image-align-top {display:inline-block; font-size:0; vertical-align:middle; max-width:100%;}
.w .wiki-image-wrapper {position:relative; display:inline-block; max-width:100%; overflow:hidden; font-size:0;}
.w .wiki-image-wrapper:hover .wiki-image-link {display:block;}
.w .wiki-image-loading {display:none;}
.w .wiki-image-link {
    background: none;
    border: none;
    color: #ec9f19;
    display: none;
    font-size: 1.1rem;
    outline: none;
    position: absolute;
    right: 6px;
    top: 0;
}
.w .wiki-image-link:before {content: "";display: inline-block;font-family: "Ionicons"!important;}
.w .wiki-image-link:hover:before {content: "";}
.w .wiki-file-image {margin-bottom:20px;}

/* Media */
.w .wiki-media {display: block;max-width:100%}
.w lite-youtube.wiki-media {display:table-cell;}
.w .wiki-media-wrapper {display:table;}
.w video {max-width:100%;}

/* Table */
.w .table-right {float: right;margin-bottom: 20px;margin-left: 20px;}
.w .table-center .wiki-table{margin:auto;}
.w .wiki-table-wrap.table-center{margin: 10px auto;}
.w .wiki-table-wrap{display: block;margin: 10px 0;max-width: 100%;overflow-x: auto;}
.w .wiki-table {background-color:#f5f5f5;border-collapse:collapse;}
.w .wiki-table td {padding: 5px 10px;border: 1px solid #ddd;}
.w .wiki-table td.wiki-table-nopadding{padding: 0;}
.w .wiki-table td .wiki-paragraph {margin-bottom: 0;}
.w .wiki-table .wiki-table-keepall {word-break: keep-all;}
.pressdo-dark-mode .w .wiki-table{background-color:#2d2f34;}
.pressdo-dark-mode .w .wiki-table td{border: 1px solid #383b40;}

/* List */
.w li {margin: .4em 0;}
.w .wiki-indent {padding-left:10px;}
.w .wiki-list {margin: .4em 0 .4em 1.5em;}
.w .wiki-list-decimal {list-style:decimal;}
.w .wiki-list li {list-style: inherit!important;list-style-type: inherit!important;margin: .4em 0;}
.w .wiki-list li .wiki-paragraph {margin-bottom: 0;}
.w .wiki-list-alpha {list-style: lower-alpha;}
.w .wiki-list-upper-alpha {list-style: upper-alpha;}
.w .wiki-list-roman {list-style: lower-roman;}
.w .wiki-list-upper-roman {list-style: upper-roman;}

/* Macro */
.w .wiki-macro-footnote {margin: 1.5em 0; padding: .5em 0; border-top: 1px solid #777;}
.w .footnote-list {line-height: 1.75; display:block; word-break:break-all; margin-bottom: 0.5em;}
.w .wiki-fn-content {font-size: .8em;vertical-align: super;}
.w .wiki-fn-content {white-space: nowrap;}
.pressdo-dark-mode .w .wiki-macro-footnote {border-top-color:#383840}

/* Folding */
.w dl.wiki-folding{margin:0;}
.w dl.wiki-folding dt {cursor: pointer;font-weight: 700;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}
.w dl.wiki-folding dd {transition:all .15s ease-out;}
.w dl.wiki-folding dd {opacity: 1;transition:all .15s ease-in;}
.w dl.wiki-folding dd.unfolded {opacity: 1;transition: all .15s ease-in; max-height:none; max-width:none;}
.w dl.wiki-folding dd {margin: 0;max-height: 0;max-width: 0;overflow: hidden;}

/* Blockquote */
.pressdo-dark-mode .w .wiki-quote {background-color: #2d2f34;border-color: #383b40 #383b40 #383b40 #666c75;color: #ddd;}
.w .wiki-quote {background: #eee;border: 2px dashed #ccc;border-left: 5px solid #71bc6d;display: table;margin: 1em 0;padding: 1em;}
.w .wiki-quote .wiki-paragraph {margin-bottom: 0;}
.w .wiki-quote .wiki-indent {padding-left: 0;}

/* syntax highlight */
.w .syntax {font-family: monospace !important;line-height: 1.3em;white-space:pre}
.w .syntax span {font-family:monospace !important}
.w .syntax .syntax-marker {background-color: #ffffe0;border-bottom: 1px solid #f0f0d0;border-top:1px solid #f0f0d0}
.w .syntax .syntax-anchor {color:#c33}
.w .syntax .syntax-comment {color: #999;font-style:italic}
.w .syntax .syntax-keyword {color: #69c;font-weight:700}
.w .syntax .syntax-literal {color:#c08030}

/* etc */
iframe{display: block;max-width: 100%;}
*, :after, :before {box-sizing:border-box;}
html{-webkit-text-size-adjust: none;box-sizing: border-box;}

@media print {
    .w .wiki-edit-section {display:none;}
}
@media screen and (max-width: 420px) {
    .w .table-right {
        float: none;
        margin:10px 0
    }
}