<div n:if="$wiki['page']['data']['error']" class="a e">
    <strong>{$lang['msg']['error']}</strong>
    <span>{$lang['msg'][$wiki['page']['data']['error']]}</span>
</div>
<form id="loginform" class="authform" name="loginform" method="POST" action="/member/login?redirect={$wiki['page']['data']['redirect']|escapeUrl}">
    <div class="form-sheet">
        <label for="username">Email</label>
        <input class="textfield" type="text" id="username" name="username" required>
    </div>
    <div class="form-sheet">
        <label for="password">Password</label>
        <input class="textfield" type="password" id="password" name="password" required>
    </div>
    <div class="form-sheet form-extlink">
        <a class="a" href="/member/recover_password">{$lang['auth']['recover_password']}</a>
    </div>
    <div class="form-sheet form-action">
        <label name="autologin" class="chkbox-label">
            <input class="chkbox" type="checkbox" name="autologin">{$lang['auth']['autologin']}
        </label>
        <div class="btn-area">
            <a class="pressdo-btn" href="/member/signup">{$lang['auth']['signup']}</a>
            <button type="submit" class="btn-blue pressdo-btn" id="log-in">{$lang['auth']['login']}</button>
        </div>
    </div>
    <div><!-- captcha --></div>
</form>