{if !$wiki['page']['data']['until']}
    {var $ptag = 'span'}
    {var $phref = null}
{else}
    {var $ptag = null}
    {var $phref = '/admin/login_history?username='.$_GET['username'].'&until='.$wiki['page']['data']['until']}
{/if}

{if !$wiki['page']['data']['from']}
    {var $ntag = 'span'}
    {var $nhref = null}
{else}
    {var $ptag = null}
    {var $phref = '/admin/login_history?username='.$_GET['username'].'&until='.$wiki['page']['data']['from']}
{/if}
<div class="wiki-content">
    <div n:if="$wiki['page']['data']['errbox']" class="a e">
        <strong>{$lang['msg']['error']}</strong>
        <span>{$wiki['page']['data']['errbox']}</span>
    </div>
    <form method="get">
        <div data-pressdo-loginform class="c">
            <label data-pressdo-loginform for="username">{$lang['auth']['username']} : </label>
            <input data-pressdo-acl-span type="text" id="username" name="username">
        </div>
        <div class="btn-area">
            <button class="btn-blue btn" type="submit">{$lang['confirm']}</button>
        </div>
    </form>
    <form n:if="$_GET['username']" method="POST">
        <h3>{$_GET['username']} {$lang['login_history']}</h3><br>
        <p>{$lang['auth']['last_login_ua'].' : '.$wiki['page']['data']['UA']}</p><br>
        <p>{$lang['auth']['email'].' : '.$wiki['page']['data']['email']}</p>
        {include '../../pagebutton.latte', ptag: $ptag, phref: $phref, ntag: $ntag, nhref: $nhref}
        <table class="pressdo-table">
            <thead>
                <th><strong>Date</strong></th>
                <th><strong>IP</strong></th>
            </thead>
            <tr n:foreach="$wiki['page']['data']['history'] as $h">
                <td>{$h['datetime']|localdate|noescape}</td>
                <td>{$h['ip']}</td>
            </tr>
        </table>
        {include '../../pagebutton.latte', ptag: $ptag, phref: $phref, ntag: $ntag, nhref: $nhref}
    </form>
</div>