.pressdo-dark-mode {
    .textfield{background-color: #282829;border-color: #484848;}
    .chkbox{background-color: #282829; border-color: #484848;}
    .error-input{--focus-outline-color: #8b3f46!important;border-color: #861520;}

    /* Button */
    .pressdo-btn:not([disabled]):active{background-color: #515151;}
    .pressdo-btn:not([disabled]):hover {background-color:#555;}
    .pressdo-btn{background-color: #282828;border-color: #484848;color: #e0e0e0 !important;color: var(--dark-text-color, var(--text-color, #e0e0e0)) !important;}
    
    .btn-blue:not([disabled]){background-color: #1555b5;border-color: #052e6d;}
    .btn-blue:not([disabled]):hover{background-color: #1e5ebd;}
    
    .pressdo-btn[disabled][role=button]{background-color: #373737;border-color: #424242;color: #777;}
    .btn-round{border-color: #484848;}

    form input.pressdo-form {background-color: #27292d;border-color: #383b40;color: var(--dark-text-color, var(--text-color, #e0e0e0));}

    /* Editor */
    form li button.a.editor.top{background-color: #383b40;}
    form li button.editor.top {background: #444;background-color: #27292d;border-color: #383b40;color: #ddd;}
    form input[data-pressdo-edit-summary],  form textarea.editor {background-color: #27292d;border-color: #383b40;color: #ddd;}
    form div.c.editor,  form ul.editor.top {border-color: #383b40;}
    textarea.editor {background-color: #000;color: #ddd;}

    /* Diff */
    table.diff{border-color: #383b40;}
    table.diff thead{background: #2d2f34;border-bottom: 1px solid #383b40;}
    table.diff tbody th{background: #27292d;border: 1px solid #383b40;color: #8a8a8a;}
    table.diff .skip{background-color: #2d2f34;border: 1px solid #383b40;}
    table.diff .delete{background-color: #943838;}
    table.diff .insert{background-color: #3b5a3b;}
    table.diff del.diff{background-color: #d05d5d;color: #ddd;}
    table.diff ins.diff{background-color: #1c751c;}

    /* Recent */
    .recent-tr{border-bottom-color:#575757}
    .recent-td+.recent-log{color:#bbb;}
    .recent-toolbox>*{border-bottom-color:#575757;border-top-color:#575757}
    .recent-toolbox>:first-of-type{border-left-color: #575757;}
    .recent-toolbox>:last-of-type{border-right-color:#575757;}
    .recent-menu-current{--navigation-item-underline-color: var(--brand-bright-color-1, #45474b);}
    .recent-menu{color:#e0e0e0; color: var(--dark-text-color, var(--text-color, #e0e0e0));}
    .recent-document-title{color:#e0e0e0; color:var(--dark-text-color, var(--text-color, #e0e0e0));}

    /* History */
    .history-goto span{color: hsla(0, 0%, 88%, .749);color: var(--text-color, hsla(0, 0%, 88%, .749));}

    /* Discuss */
    input[data-pressdo-thread], textarea[data-pressdo-thread]{background-color: #27292d;border-color: #383b40;color: #ddd;}
    div.r div.c.thread{background-color: #2d2f34;border-color: #383b40;}
    div.r div.b.s.thread{background: #54411a;}
    div.r div.h.f.thread{background-color:#324432}
    div.r div.b.thread{background: #27292d}
    a.m.thread{background-color: #325a56;color: #ddd;}
    a.m.thread:hover{background-color: #438a83;color: #ddd;}
    .thread-btn{border-color: #383b40;color: #ddd;}
    form.editor li button.selector-btn{background: #444;background-color: #27292d;border-color: #383b40;color: #ddd;}
    form.editor li button.selector-btn.ak{background-color: #383b40;}
    form.editor .c,  form.editor ul.selector{border-color: #383b40;}

    /* Media Query */
    @media screen and (max-width: 1023.98px){
        .recent-th+.recent-tr{border-top-color: #575757;}
    }
}