/* font-style */
h1{font-size: 2rem;}
h2{font-size: 1.8rem;}
h3{font-size: 1.6rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1.3rem;}
h6{font-size: 1.1rem;}
h1.wiki-heading{font-size: 2em;}
h2.wiki-heading{font-size: 1.8em;}
h3.wiki-heading{font-size: 1.6em;}
h4.wiki-heading{font-size: 1.5em;}
h5.wiki-heading{font-size: 1.3em;}
h6.wiki-heading{font-size: 1.1em;}
h1.wiki-heading, h2.wiki-heading, h3.wiki-heading, h4.wiki-heading, h5.wiki-heading, h6.wiki-heading {margin: 1.2em 0 .8em;border-bottom: 1px solid #ccc;padding-bottom: 5px;font-weight:500;line-height:1.1;color:inherit;}

/* Category Area */
div.wiki-categories { border: 1px solid #ccc;padding: 3px 3px 3px 5px;margin-bottom: 1em;border-radius: 4px;font-size: .9rem;}
div.wiki-categories>h2 {display: inline-block;border: 0;padding: 0;margin: 0;font-weight: 400;font-size: inherit;}
div.wiki-categories>h2:after {content: ":";}   
div.wiki-categories>ul {margin-bottom: 0;padding-left: 0;margin-top: 0;display: inline-block;}
li.wiki-categories::marker{content: "";}
li.wiki-categories {display: inline;}
li.wiki-categories:not(:last-of-type):after {content: "|";padding-left: 5px;padding-right: 5px;}

/* Heading */
div.wiki-heading-content                {margin-bottom:1rem;}
div.wiki-heading-content:last-of-type   {margin-bottom:0;}
div[data-pressdo-doc-tablewrap]         {display:block;max-width:100%;overflow-x:auto;margin:10px 0;}
div#toc                                 {border: 1px solid #ccc;display: inline-block;padding: 12px 20px 18px 0;margin-left: 5px;}
div.wiki-heading-content[fold=true]{display:none;}
div#toc:before                          {content: "목차";font-size: 1.25em;margin-left: 14px;}
div#toc>div.toc-indent:first-of-type    {margin-top: 12px;}
div.toc-indent                          {padding-left: 20px;}    
span.toc-item                           {display: block;}
.wiki-heading {cursor:pointer;}
.wiki-heading:before {float: left;font-family: Ionicons;font-weight: 400;font-size: .8em;line-height: 1.8em;text-align: center; margin: 0 .5rem 0 .2rem; width: .9em;color: #666;content: "";}
span.wiki-edit-section {float: right;font-size: .8rem;}
.wiki-heading[fold=true]{opacity:.5;}
.wiki-heading[fold=true]:before{content: "";;}

/* Text Syntax */
code,kbd,pre,samp{font-family:Menlo,Monaco,Consolas,Courier New,monospace;font-size:1em;}
.w code{background-color:#f7f7f9;border-radius:.25rem;}
.w code,kbd{padding:.2rem .4rem; font-size:90%!important;}
.w code.wiki-escape {padding:2px;background-color:transparent;border:none;border-radius:0;}
.w pre{padding: 7px;background-color: #eee;border: 1px solid #ddd;border-radius: 3px;overflow-x: auto;}
.w del{color:grey;}
.w hr{margin: .5em 0;height: 0;box-sizing: content-box;border: 0;border-top: .0625rem solid #ccc;}
.w .wiki-fn-content {white-space: nowrap;font-size: .8em;vertical-align: super;}
.wiki-size.size-down-1 {font-size:.9258888889em}
.wiki-size.size-down-2 {font-size:.8333333333em}
.wiki-size.size-down-3 {font-size:.7406666667em}
.wiki-size.size-down-4 {font-size:.6481111111em}
.wiki-size.size-down-5 {font-size:.6222222222em}
.wiki-size.size-up-1 {font-size:1.2888888889em}
.wiki-size.size-up-2 {font-size:1.3888888889em}
.wiki-size.size-up-3 {font-size:1.4814444444em}
.wiki-size.size-up-4 {font-size:1.574em}
.wiki-size.size-up-5 {font-size:1.6666666667em}

/* link */
.w .wiki-link-external, .w .wiki-link-external-image {color: #090!important;}
.w .wiki-link-external:before, .w .wiki-link-external-image:before {padding: 0 0.15em;background: green;color: #fff;content: "";font-family: Ionicons!important;}
.w .not-exist {color:red;}
.w .wiki-link-auto {cursor:default;}
.w .wiki-self-link{font-weight:700;}
.w a {color: #0275d8;text-decoration: none;}

/* image */
.w .wiki-image-align-left {float:left;}
.w .wiki-image-align-right {float:right;}
.w .wiki-image-align-top {vertical-align:top;}
.w .wiki-image-align-middle {vertical-align:middle;}
.w .wiki-image-align-bottom {vertical-align:bottom;}
.w .wiki-image-align-center, .w .wiki-image-align-middle {display:block;text-align:center;}
.w .wiki-image-align-center, .w .wiki-image-align-bottom, .w .wiki-image-align-left, .w .wiki-image-align-middle, .w .wiki-image-align-normal, .w .wiki-image-align-right, .w .wiki-image-align-top {display:inline-block; font-size:0; vertical-align:middle; max-width:100%;}
.w .wiki-image-wrapper {position:relative; display:inline-block; max-width:100%; overflow:hidden; font-size:0;}
.w .img {display:inline-block; max-width: 100%;}
.w .wiki-image {position:absolute; top:0; right: 0; bottom: 0; left: 0;}

/* Table */
table{background-color:transparent;border-spacing:0;border-collapse:collapse;}
table.wiki-table{background-color:#f5f5f5;border-collapse:collapse;}
table.wiki-table td{padding: 5px 10px;border: 1px solid #ddd;}

/* Macro */
.w .wiki-macro-footnote div {margin: 1.5em 0; padding: 0.5em 0; border-top: 1px solid #777;}
.w .footnote-list {line-height: 1.75; display:block; word-break:break-all; margin-bottom: 0.5em;}

/* etc */
.w blockquote.wiki-bq{padding: 1em calc(2em + 25px) 1em 1em;margin: 1em 0;background: #eee;display: table;border: 2px dashed #ccc;border-left: 5px solid #71bc6d;}
iframe{display: block;max-width: 100%;}