<ol>
    <li>{$lang['msg']['activate_otp_1']|noescape}</li>
    <li>{$lang['msg']['activate_otp_2']|noescape}<br><img src=""></li>
    <li>{$lang['msg']['activate_otp_3']|noescape}</li>
</ol>
<form method="post">
    <div class="bottom-space">
        <label for="pinInput">PIN</label>
        <input class="" type="text" id="pinInput" name="pin" maxlength="6">
    </div>
    <div class="btn-area">
        <button type="submit" class="btn-lightblue pressdo-btn-nonflex">{$lang['btn']['activate']}</button>
    </div>
</form>