{if !$wiki['page']['data']['prev_page']}
    {var $ptag = 'span'}
    {var $phref = null}
{else}
    {var $ptag = null}
    {var $phref = '/BlockHistory?until='.$wiki['page']['data']['prev_page']}
{/if}
{if !$wiki['page']['data']['next_page']}
    {var $ntag = 'span'}
    {var $nhref = null}
{else}
    {var $ntag = null}
    {var $nhref = '/BlockHistory?from='.$wiki['page']['data']['next_page']}
{/if}
<div n:if="$error['errbox']" class="a e">
    <strong>{$lang['msg']['error']}</strong>
    <span>{$error['message']|noescape}</span>
</div>
<ul class="aclgroup-tabs">
    <li n:foreach="$wiki['page']['data']['aclgroups'] as $g" data-pressdo-aclgroup>
        <a n:class="$wiki['page']['data']['currentgroup'] == $g ? a" href="/aclgroup?group={$g|escapeUrl}">{$g} <button n:if="$wiki['page']['data']['group_removable']" d_target="{$g}" class="rmag" msg="{=$lang['msg']['aclgroup_delete']|replace: '@1@', $g}" type="button">×</button></a>
    </li>
    <li n:if="$wiki['page']['data']['group_addable']" data-pressdo-aclgroup>
        <button id="nag" type="button">+</button>
    </li>
</ul>
<form data-pressdo-aclgroup method="POST" action="{$_SERVER['REQUEST_URI']}" class="a">
    <input data-pressdo-aclgroup class="pressdo-form" type="hidden" name="group" value="{$wiki['page']['data']['currentgroup']}">
    <div data-pressdo-aclgroup class="g">
        <select data-pressdo-aclgroup class="pressdo-form" name="mode" id="agmd">
            <option value="ip">{$lang['acl']['ip']}</option>
            <option value="username">{$lang['acl']['username']}</option>
        </select>
        <input class="pressdo-form" data-pressdo-aclgroup id="vl" type="text" name="ip" placeholder="CIDR">
        <p n:if="$err[1]['username']" class="errmsg">{$lang['msg']['err_wrong_username']}</p>
        <p n:if="$err[1]['ip']" class="errmsg">{$lang['msg']['invalid_cidr']}</p>
    </div>
    <div data-pressdo-aclgroup class="g">
        <label data-pressdo-aclgroup for="noteInput">{$lang['acl']['memo']} :</label>
        <input class="pressdo-form" data-pressdo-aclgroup type="text" id="noteInput" name="note">
        <p n:if="$err[1]['note']" id="erruser" class="errmsg">{=$lang['msg']['err_required_input']|replace: '@1@', 'note'}</p>
    </div>
    <div data-pressdo-aclgroup class="g">
        <label data-pressdo-aclgroup>{$lang['acl']['expire']} :</label>
        <span>
            <input id="dr" name="duration_raw" class="pressdo-form" type="hidden" value="0" i="aclgroup">
            <select class="pressdo-form" id="dur" i="aclgroup">
                <option class="pressdo-form" value="0">{$lang['acl']['forever']}</option>
                <option class="pressdo-form" value="300">{$lang['acl']['300s']}</option>
                <option class="pressdo-form" value="600">{$lang['acl']['600s']}</option>
                <option class="pressdo-form" value="1800">{$lang['acl']['1800s']}</option>
                <option class="pressdo-form" value="3600">{$lang['acl']['3600s']}</option>
                <option class="pressdo-form" value="7200">{$lang['acl']['7200s']}</option>
                <option class="pressdo-form" value="86400">{$lang['acl']['86400s']}</option>
                <option class="pressdo-form" value="259200">{$lang['acl']['259200s']}</option>
                <option class="pressdo-form" value="432000">{$lang['acl']['432000s']}</option>
                <option class="pressdo-form" value="604800">{$lang['acl']['604800s']}</option>
                <option class="pressdo-form" value="1209600">{$lang['acl']['1209600s']}</option>
                <option class="pressdo-form" value="1814400">{$lang['acl']['1814400s']}</option>
                <option class="pressdo-form" value="2419200">{$lang['acl']['2419200s']}</option>
                <option class="pressdo-form" value="4838400">{$lang['acl']['4838400s']}</option>
                <option class="pressdo-form" value="7257600">{$lang['acl']['7257600s']}</option>
                <option class="pressdo-form" value="14515200">{$lang['acl']['14515200s']}</option>
                <option class="pressdo-form" value="29030400">{$lang['acl']['29030400s']}</option> 
                <option class="pressdo-form" value="raw">{$lang['acl']['raw']}</option>
            </select>
            <input id="dr_e" class="pressdo-form" type="hidden" name="0" value="0" i="aclgroup">
            <select id="du" class="pressdo-form" v="none" i="aclgroup">
                <option class="pressdo-form" value="1">{$lang['acl']['second']}</option>
                <option class="pressdo-form" value="60">{$lang['acl']['minute']}</option>
                <option class="pressdo-form" value="3600">{$lang['acl']['hour']}</option>
                <option class="pressdo-form" value="86400">{$lang['acl']['day']}</option>
                <option class="pressdo-form" value="604800">{$lang['acl']['week']}</option>
            </select>
        </span>
        <p n:if="$err[1]['expire']" class="errmsg">{=$lang['msg']['err_required_input']|replace: '@1@', 'expire'}</p>
        <p n:if="$err[1]['expire_much']" class="errmsg">{$lang['msg']['err_expire_too_long']}</p>
    </div>
    <button class="pressdo-btn-nonflex btn-blue" n:attr="disabled: !$wiki['page']['data']['list_addable']" type="submit">{$lang['acl']['add']}</button>
</form>
{include '../pagebutton.latte', ptag: $ptag, phref: $phref, ntag: $ntag, nhref: $nhref}
<form class="s" data-pressdo-aclgroup method="GET">
    <div data-pressdo-aclgroup class="g">
        <input class="pressdo-form" type="text" name="from" placeholder="ID">
        <button class="pressdo-btn-nonflex btn-blue" type="submit">Go</button>
    </div>
</form>
<table class="pressdo-table">
    <colgroup>
        <col style="width:150px;">
        <col style="width:150px;">
        <col>
        <col style="width:200px;">
        <col style="width:160px;">
        <col style="width:60px;">
    </colgroup>
    <thead>
        <tr>
            <th>ID</th>
            <th>{$lang['acl']['target']}</th>
            <th>{$lang['acl']['memo']}</th>
            <th>{$lang['acl']['added']}</th>
            <th>{$lang['acl']['expired']}</th>
            <th>{$lang['acl']['action']}</th>
        </tr>
    </thead>
    <tbody>
        <td n:if="($wiki['page']['data']['list']|length) === 0" class="s" colspan="5">{$lang['msg']['empty_aclgroup']}</td>
        {if ($wiki['page']['data']['list']|length) !== 0}
            <tr n:foreach="$wiki['page']['data']['list'] as $li">
                <td class="s">{$li['id']}</td>
                <td class="s">{$li['target_member'] ?? $li['target_ip']}</td>
                <td class="s">{$li['comment']}</td>
                <td class="s">{$li['datetime']|date:'Y-m-d H:i:s'}</td>
                <td class="s">
                {if $li['until'] == 0}
                    {$lang['acl']['forever']}
                {else}
                    {$li['until']|date: 'Y-m-d H:i:s'}
                {/if}
                </td>
                <td><button n:attr="disabled: !$wiki['page']['data']['list_removable']" id="acl_delete" acllog_id="{$li['id']}" class="pressdo-btn-nonflex btn-red" type="button">{$lang['acl']['delete']}</button></td>
            </tr>
        {/if}
    </tbody>
</table>
{include '../pagebutton.latte', ptag: $ptag, phref: $phref, ntag: $ntag, nhref: $nhref}
{if $err[1]['mode'] == 'd'}
    <div style="z-index: 1000;" id="remove_win" class="inset fixed" style="display:block;">
{else}
    <div style="z-index: 1000;" id="remove_win" class="inset fixed" v="none">
{/if}
    <div class="inset overlay absolute"></div>
    <div class="inset absolute overlay-container">
        <div class="overlay-content">
            <div n:if="$err[0]" class="a e">
                <strong>{$lang['msg']['error']}</strong>
                <span>{$lang['msg'][$err[0]]}</span>
            </div>
            <form method="POST" action="{$_SERVER['REQUEST_URI']}">
                <input class="pressdo-form" id="idto_remove" type="hidden" name="id" value>
                <input class="pressdo-form" type="hidden" name="group" value="{$api['currentgroup']}">
                <h4>{$lang['acl']['remove_member']}</h4>
                <div>
                    <p>ID:</p>
                    <span id="id_to_remove"></span>
                </div>
                <div>
                    <p>{$lang['acl']['memo']}:</p>
                    <input class="pressdo-form" type="text" name="note">
                    <p n:if="$err[1]['note']" id="erruser" class="errmsg">{=$lang['msg']['err_required_input']|replace: '@1@', 'note'}</p>
                </div>
                <div class="overlay-btns">
                    <button class="pressdo-btn-nonflex btn-blue btn-sizeup" type="submit">{$lang['acl']['delete']}</button>
                    <button class="pressdo-btn-nonflex btn-sizeup" id="cancel_btn" type="button">{$lang['cancel']}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{if $err[1]['mode'] == 'c'}
<div style="z-index: 1000;" id="add_win" class="inset fixed" style="display:block;">
{else}
<div style="z-index: 1000;" id="add_win" class="inset fixed" v="none">
{/if}
    <div class="inset overlay absolute"></div>
    <div class="inset absolute overlay-container">
        <div class="overlay-content">
            <div n:if="$err[0]" class="a e">
                <strong>{$lang['msg']['error']}</strong>
                <span>{$lang['msg'][$err[0]]}</span>
            </div>
            <form method="POST" action="{$_SERVER['REQUEST_URI']}">
                <h4>{$lang['acl']['group_add']}</h4>
                <div>
                    <p>{$lang['acl']['group_name']}:</p>
                    <input class="pressdo-form" type="text" name="name">
                    {if $err[1]['name']}
                        <p id="erruser" class="errmsg">{=$lang['msg']['err_required_input']|replace: '@1@', 'name'}</p>
                    {/if}
                </div>
                <div class="overlay-btns">
                    <button class="pressdo-btn btn-blue btn-sizeup" type="submit">{$lang['btn']['create']}</button>
                    <button class="pressdo-btn btn-blue btn-sizeup" id="cancel_btn" type="button">{$lang['cancel']}</button>
                </div>
            </form>
        </div>
    </div>
</div>