<form class="pagelist-menu" method="get">
    <label for="namespaceSelect">이름공간:</label>
    <select n:inner-foreach="$wiki['page']['data']['backlink_count'] as $cnt" class="selfield" id="namespaceSelect" name="namespace" value="문서">
        <option value="{$cnt['namespace']}" n:attr="selected: $uri_data['query']->namespace == $cnt['namespace']">{$cnt['namespace']} ({$cnt['count']})</option>
    </select>
    <select class="selfield" name="flag" value="0">
        <option value="0" n:attr="selected: $uri_data['query']->flag == 0">(전체)</option>
        <option value="1" n:attr="selected: $uri_data['query']->flag == 1">link</option>
        <option value="2" n:attr="selected: $uri_data['query']->flag == 2">file</option>
        <option value="4" n:attr="selected: $uri_data['query']->flag == 4">include</option>
        <option value="8" n:attr="selected: $uri_data['query']->flag == 8">redirect</option>
    </select>
    <button type="submit" class="pressdo-btn btn-blue">제출</button>
</form>
{if !$wiki['page']['data']['prev_ver']}
    {var $ptag = 'span'}
    {var $phref = null}
{else}
    {var $ptag = null}
    {var $phref = 'href="/history/'.$uri_data['title'].'?until='.$wiki['page']['data']['prev_ver'].'"'}
{/if}
{if !$wiki['page']['data']['next_ver']}
    {var $ntag = 'span'}
    {var $nhref = null}
{else}
    {var $ntag = null}
    {var $nhref = 'href="/history/'.$uri_data['title'].'?from='.$wiki['page']['data']['next_ver'].'"'}
{/if}
{include '../pagebutton.latte', ptag: $ptag, phref: $phref, ntag: $ntag, nhref: $nhref}
<div>
    {if empty($wiki['page']['data']['backlink'])}
        {$lang['msg']['no_backlinks']}
    {/if}
    <div n:foreach="$wiki['page']['data']['backlink'] as $key => $val">
        <h3>{$key}</h3>
        <ul class="lists" n:inner-foreach="$val as $v">
            {if $v['force_show_namespace'] || $v['document']['namespace'] !== '문서'}
                {var $ns = $v['document']['namespace'].':'}
            {else}
                {var $ns = ''}
            {/if}{$v['title']}
            <li class="backlinks"><a href="/w/{$ns.$v['document']['title']}">{$ns.$v['document']['title']}</a> ({$v['type']})</li>
        </ul>
    </div>
</div>
{include '../pagebutton.latte', ptag: $ptag, phref: $phref, ntag: $ntag, nhref: $nhref}