<div class="top-area">
    <div class="toolkit-wrap">
        <div class="menu-wrap">
            <ul class="recent-toolbox">
                <li><a n:class="$uri_data['type'] == 'document' ? recent-menu-current, recent-menu" href="/contribution/{$uri_data['target']}/document">{$lang['recent']['document']}</a></li>
                <li><a n:class="$uri_data['type'] == 'discuss' ? recent-menu-current, recent-menu" href="/contribution/{$uri_data['target']}/discuss">{$lang['page']['discuss']}</a></li>
                <li><a n:class="$uri_data['type'] == 'edit_request' ? recent-menu-current, recent-menu" href="/contribution/{$uri_data['target']}/edit_request">{$lang['page']['edit_request']}</a></li>
            </ul>
        </div>
    </div>
</div>
<div n:if="$uri_data['type'] == 'discuss'">{$lang['recent']['recent_30_days']}</div>
<div n:else>{sprintf($lang['recent']['total_contribution'], $wiki['page']['data']['count'])}</div>
{if !$wiki['page']['data']['until']}
    {var $ptag = 'span'}
    {var $phref = null}
{else}
    {var $ptag = null}
    {var $phref = '/contribution/'.$uri_data['target'].'/'.$uri_data['type'].'?until='.$wiki['page']['data']['until']}
{/if}
{if !$wiki['page']['data']['from']}
    {var $ntag = 'span'}
    {var $nhref = null}
{else}
    {var $ntag = null}
    {var $nhref = '/contribution/'.$uri_data['target'].'/'.$uri_data['type'].'?from='.$wiki['page']['data']['from']}
{/if}
{include '../pagebutton.latte', ptag: $ptag, phref: $phref, ntag: $ntag, nhref: $nhref}
<div n:if="$uri_data['type'] == 'document'" class="recent-changes recent-table">
    <div class="contr-tr recent-th">
        <div class="recent-td">{$lang['recent']['document']}</div>
        <div class="recent-td">{$lang['recent']['function']}</div>
        <div class="recent-td">{$lang['recent']['ago']}</div>
    </div>
    {foreach $wiki['page']['data']['content'] as $he}
        {var $diff = 'a'}
        {var $disdiff = false}
        {var $Diff = $he['count']}
        {var $title = ($he['document']['title']|makeTitle: $he['document']['namespace'])}
        
        {if $Diff > 0}
            {var $color = 'green'}
            {var $flag = '+'}
        {elseif $Diff == 0}
            {var $color = 'gray'}
            {var $flag = ''}
        {elseif $Diff < 0}
            {var $color = 'red'}
            {var $flag = ''}
        {/if}

        {if $he['rev'] == 1}
            {var $diff = 'span'}
            {var $disdiff = true}
        {/if}

        <div class="contr-tr">
            <div class="recent-td">
                <a href="/w/{$title|escapeUrl}">{$title}</a>
                <span class="recent-document">(<a class="recent-rev" href="/w/{$title|escapeUrl}?uuid={$he['uuid']}">r{$he['rev']}</a>)</span>
                <span class="recent-history-length history-{$color}">{$flag.$Diff}</span>
            </div>
            <div class="recent-td recent-tool">
                <div class="recent-buttonarea">
                    <a class="pressdo-btn btn-round" role="button" href="/history/{$title|escapeUrl}" title="역사">역사</a>
                    <a n:tag="$diff" role="button" n:attr="disabled: $disdiff" class="pressdo-btn btn-round" href="/diff/{$title|escapeUrl}?uuid={$he['uuid']}" title="비교">비교</a>
                    <a class="pressdo-btn btn-round" role="button" href="/discuss/{$title|escapeUrl}" title="토론">토론</a>
                </div>
            </div>
            <div class="recent-td recent-datetime">{$he['date']|localreldate|noescape}</div>
            <div n:if="($he['log']|length) > 0 || $he['logtype'] !== 'modify'" class="recent-td recent-log">
                <span class="recent-changes" n:ifcontent>{$he['log']}</span>
                <i>
                {switch $he['logtype']}
                    {case 'revert'}
                        ({sprintf($lang['log']['revert'], $he['target_rev'])})
                    {case 'delete', 'create'}
                        ({$lang['log'][$he['logtype']]})
                    {case 'move'}
                        ({sprintf($lang['log']['move'], $he['from'], $he['to'])})
                    {case 'acl'}
                        ({sprintf($lang['log']['acl'], $he['acl'])})
                {/switch}
                </i>
            </div>
        </div>
    {/foreach}
</div>
<div n:if="$uri_data['type'] == 'discuss'" class="recent-changes recent-table">
    <div class="contr-tr recent-th">
        <div class="recent-td">{$lang['recent']['title']}</div>
        <div class="recent-td">{$lang['recent']['ago']}</div>
    </div>
    {foreach $wiki['page']['data']['content'] as $he}
        {if $he['document']['forceShowNamespace'] === false}
            {var $ns = ''}
        {else}
            {var $ns = $he['document']['namespace'].':'}
        {/if}
        <div class="contr-tr">
            <div class="recent-td">
                <a href="/thread/{$he['slug']}#{$he['no']}">#{$he['no']} {$he['topic']}</a>
                <span class="recent-document">
                    <span class="recent-document-icon"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M64 464c-8.8 0-16-7.2-16-16V64c0-8.8 7.2-16 16-16H224v80c0 17.7 14.3 32 32 32h80V448c0 8.8-7.2 16-16 16H64zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V154.5c0-17-6.7-33.3-18.7-45.3L274.7 18.7C262.7 6.7 246.5 0 229.5 0H64zm56 256c-13.3 0-24 10.7-24 24s10.7 24 24 24H264c13.3 0 24-10.7 24-24s-10.7-24-24-24H120zm0 96c-13.3 0-24 10.7-24 24s10.7 24 24 24H264c13.3 0 24-10.7 24-24s-10.7-24-24-24H120z"></path></svg></span>
                </span>
                <a class="recent-document-title" href="/discuss/{$ns.$he['document']['title']|escapeUrl}">{$ns.$he['document']['title']}</a>
            </div>
            <div class="recent-td recent-datetime">{$he['date']|localreldate}</div>
        </div>
    {/foreach}
</div>
{include '../pagebutton.latte', ptag: $ptag, phref: $phref, ntag: $ntag, nhref: $nhref}