{var $d = $wiki['page']['data']['body']}
<h3 class="subject">
    {if $d['contributor_m'] === null}
        {var $idset[$d['contributor_uuid']] = ['IP', $d['contributor_i']]}
        {var $user =
            '<div class="context-menu v-popper v-popper--theme-contextmenu"><a style="'
            .$d['contributor_style'].'" href="/contribution/'.$d['contributor_uuid'].'/document" class="user" aria-describedby="contextmenu-'
            .$d['contributor_uuid'].'">'.$d['contributor_i'].'</a></div>'}
    {else}
        {var $idset[$d['contributor_uuid']] = [$lang['acl']['member'].($d['contributor_admin'] ? ' ('.$lang['perm']['admin'].')':''), $d['contributor_m']]}
        {var $user =
            '<div class="context-menu v-popper v-popper--theme-contextmenu"><a style="'
            .$d['contributor_style'].'" href="/w/'.('사용자:'.$d['contributor_m']|escapeUrl).'" class="user user-member" aria-describedby="contextmenu-'
            .$d['contributor_uuid'].'">'.$d['contributor_m'].'</a></div>'}
    {/if}
    {sprintf($lang['edit_request']['requested'], $user, ($d['createdtime']|localdate))|noescape}
</h3>
<hr class="page-hr">
<div class="bottom-space">
    {if $d['lengthdiff'] > 0}
        {var $color = 'green'}
        {var $flag = '+'}
    {elseif $d['lengthdiff'] == 0}
        {var $color = 'gray'}
        {var $flag = ''}
    {elseif $d['lengthdiff'] < 0}
        {var $color = 'red'}
        {var $flag = ''}
    {/if}
    <label class="inline-data">{$lang['edit_request']['baserev']}</label> r{$d['baserev']} <span class="history-{$color}">{$flag.$d['lengthdiff']}</span>
</div>
<div class="bottom-space">
    <label class="inline-data">{$lang['edit_request']['comment']}</label> {$d['comment']}
</div>
<div style="z-index: 1000;" id="remove_win" class="inset fixed" v="none">
    <div class="inset overlay absolute"></div>
    <div class="inset absolute overlay-container">
        <div class="overlay-content">
            <form method="POST" action="{$uri_data['path']}/close">
                <input class="pressdo-form" id="idto_remove" type="hidden" name="id" value>
                <input class="pressdo-form" type="hidden" name="group" value="{$api['currentgroup']}">
                <h4>{$lang['edit_request']['close']}</h4>
                <div>
                    <p>{$lang['edit_request']['reason']}:</p>
                    <input class="pressdo-form" type="text" name="reason">
                    <p n:if="$err[1]['note']" id="erruser" class="errmsg">{sprintf($lang['msg']['err_required_input'], 'note')}</p>
                </div>
                <div>
                    <p>{$lang['edit_request']['lock']}</p>
                    <input class="pressdo-form" type="checkbox" name="lock" value="Y">
                </div>
                <div class="overlay-btns">
                    <button class="pressdo-btn-nonflex btn-lightblue btn-sizeup" type="submit">{$lang['btn']['close']}</button>
                    <button class="pressdo-btn-nonflex btn-sizeup" id="cancel_btn" type="button">{$lang['cancel']}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="w">
    {$wiki['page']['data']['editor_comment']|noescape}
</div>
<div class="info-box">
    <div>
    {if $d['status'] !== 'open'}
        {if $d['executor_m'] === null}
            {var $idset[$d['executor_uuid']] = ['IP', $d['executor_i']]}
            {var $exec =
                '<div class="context-menu v-popper v-popper--theme-contextmenu"><a style="'
                .$d['executor_style'].'" href="/contribution/'.$d['executor_uuid'].'/document" class="user" aria-describedby="contextmenu-'
                .$d['executor_uuid'].'">'.$d['executor_i'].'</a></div>'}
        {else}
            {var $idset[$d['executor_uuid']] = [$lang['acl']['member'].($d['executor_admin'] ? ' ('.$lang['perm']['admin'].')':''), $d['executor_m']]}
            {var $exec =
                '<div class="context-menu v-popper v-popper--theme-contextmenu"><a style="'
                .$d['executor_style'].'" href="/w/'.('사용자:'.$d['executor_m']|escapeUrl).'" class="user user-member" aria-describedby="contextmenu-'
                .$d['executor_uuid'].'">'.$d['executor_m'].'</a></div>'}
        {/if}
    {/if}
    {default $exec = ''}
        {if $d['status'] == 'accepted'}
            {var $acc = ' <span class="history-btns">(<a href="/w/'.($uri_data['title']|escapeUrl).'?uuid='.$d['uuid'].'">'.$lang['history']['view'].'</a> | <a href="/raw/'
                .($uri_data['title']|escapeUrl).'?uuid='.$d['uuid'].'">RAW</a> | <a href="/diff/'
                .($uri_data['title']|escapeUrl).'?uuid='.$d['uuid'].'">'.$lang['history']['diff'].'</a>)</span> '}
        {else}
            {var $acc = ''}
        {/if}
        <h4>{$lang['edit_request']['msg_state_'.$d['status']]}</h4>
        <div>{sprintf($lang['edit_request']['msg_'.$d['status']], ($d['lastedit']|localdate), $exec, $d['acceptrev'].$acc)|noescape}</div>
        <p n:if="($d['status'] == 'close' || $d['status'] == 'locked') && !empty($d['reason'])">{$lang['edit_request']['reason']} : {$d['reason']}</p>
        <div class="inline-buttonset">
            <form n:if="$d['status'] == 'close' || $d['status'] == 'locked'" method="post" action="{$uri_data['path']}/reopen">
                <button n:attr="disabled: !$wiki['page']['data']['can_reopen']" class="pressdo-btn-nonflex btn-lightgreen btn-sizeup" type="submit">Reopen</button>
            </form>
            {if $d['status'] == 'open'}
                <form method="post" action="{$uri_data['path']}/accept">
                    <button n:attr="disabled: !$wiki['page']['data']['can_accept']" class="pressdo-btn-nonflex btn-lightgreen btn-sizeup" type="submit">Accept</button>
                </form>
                <button id="acl_delete" n:attr="disabled: !$wiki['page']['data']['can_close']" class="pressdo-btn-nonflex btn-sizeup">Close</button>
                <a n:attr="disabled: !$wiki['page']['data']['can_edit']" href="{$uri_data['path']}/edit" class="pressdo-btn-nonflex btn-skyblue btn-sizeup">Edit</a>
            {/if}
        </div>
    </div>
</div>
<form n:if="$d['status'] !== 'accepted'">
    <ul class="editor top">
        <li class="editor top">
            <button class="a e editor top" id="d" type="button">{$lang['edit_request']['diff']}</button>
        </li>
        <li class="editor top">
            <button id="p" class="e editor top" type="button">{$lang['editor']['preview']}</button>
        </li>
    </ul>
    <div class="c editor">
        <div class="a editor" id="d">
            {$wiki['page']['data']['diff']|noescape}
        </div>
        <div id="p" class="p editor"><div class="w">
            {$wiki['page']['data']['preview']|noescape}
        </div></div>
    </div>
</form>
{include '../userpopper.latte', idset: $idset}