<div>
    <form n:if="in_array($wiki['page']['view_name'], ['RandomPage', 'NeededPages', 'OrphanedPages', 'UncategorizedPages'])" class="pagelist-menu" method="get">
        {var $ns = '?namespace='.$wiki['page']['data']['namespace'].'&'}
        <label data-pressdo-pagelist>{$lang['namespace']} :</label><select name="namespace">
            <option n:foreach="$namespace as $n" n:attr="selected: ($n == $wiki['page']['data']['namespace'])" value="{$n}">{$n}</option>
        </select>
        <button type="submit" class="pressdo-btn btn-blue">{$lang['submit']}</button>
    </form>
    {default $ns = '?'}
    <p>{$lang['msg'][$wiki['page']['view_name']]}</p>
        {if !$wiki['page']['data']['prev_ver']}
            {var $ptag = 'span'}
            {var $phref = null}
        {else}
            {var $ptag = null}
            {var $phref = '/'.$wiki['page']['view_name'].$ns.'until='.$wiki['page']['data']['prev_ver']}
        {/if}
        {if !$wiki['page']['data']['next_ver']}
            {var $ntag = 'span'}
            {var $nhref = null}
        {else}
            {var $ntag = null}
            {var $nhref = '/'.$wiki['page']['view_name'].$ns.'from='.$wiki['page']['data']['next_ver']}
        {/if}
    {include '../pagebutton.latte', ptag: $ptag, phref: $phref, ntag: $ntag, nhref: $nhref}
    <ul class="lists">
        {foreach $wiki['page']['data']['content'] as $d}
            {if $d['forceShowNamespace'] === false}
                {var $title = $d['title']}
            {else}
                {var $title = $d['namespace'].':'.$d['title']}
            {/if}

            {switch $wiki['page']['view_name']}
                {case 'OldPages'}
                    <li><a href="/w/{$title|escapeUrl}">{$title}</a> ({$lang['document']['modifiedat']}:<time datetime="{$d['dt']|date:'c'}">{$d['dt']|date:'Y-m-d H:i:s'}</time>)</li>
                {case 'LongestPages', 'ShortestPages'}
                    <li><a href="/w/{$title|escapeUrl}">{$title}</a> ({$d['len'].$lang['letters']})</li>
                {case 'NeededPages'}
                    <li><a href="/w/{$title|escapeUrl}">{$title}</a> <a href="/backlink/{$title|escapeUrl}">[{$lang['btn']['backlink']}]</a></li>
                {case 'RandomPage', 'UncategorizedPages'}
                    <li><a href="/w/{$title|escapeUrl}">{$title}</a></li>
            {/switch}
        {/foreach}
    </ul>
    {include '../pagebutton.latte', ptag: $ptag, phref: $phref, ntag: $ntag, nhref: $nhref}
</div>
