<div class="top-area">
    <div class="toolkit-wrap">
        <div class="menu-wrap">
            <ul class="recent-toolbox">
                <li><a n:class="!in_array($_GET['logtype'], ['create', 'delete', 'move', 'revert']) ? recent-menu-current, recent-menu" href="/RecentChanges?logtype=all">{$lang['recent']['logtype_all']}</a></li>
                <li><a n:class="$_GET['logtype'] == 'create' ? recent-menu-current, recent-menu" href="/RecentChanges?logtype=create">{$lang['recent']['logtype_create']}</a></li>
                <li><a n:class="$_GET['logtype'] == 'delete' ? recent-menu-current, recent-menu" href="/RecentChanges?logtype=delete">{$lang['recent']['logtype_delete']}</a></li>
                <li><a n:class="$_GET['logtype'] == 'move' ? recent-menu-current, recent-menu" href="/RecentChanges?logtype=move">{$lang['recent']['logtype_move']}</a></li>
                <li><a n:class="$_GET['logtype'] == 'revert' ? recent-menu-current, recent-menu" href="/RecentChanges?logtype=revert">{$lang['recent']['logtype_revert']}</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="recent-changes recent-table">
    <div class="recent-tr recent-th">
        <div class="recent-td">{$lang['recent']['document']}</div>
        <div class="recent-td">{$lang['recent']['function']}</div>
        <div class="recent-td">{$lang['recent']['editor']}</div>
        <div class="recent-td">{$lang['recent']['ago']}</div>
    </div>
    {foreach $wiki['page']['data']['content'] as $he}
        {var $diff = 'a'}
        {var $disdiff = false}
        {var $Diff = $he['count']}

        {if $he['document']['forceShowNamespace'] === false}
            {var $title = $he['document']['title']}
        {else}
            {var $title = $he['document']['namespace'].':'.$he['document']['title']}
        {/if}

        
        {if $Diff > 0}
            {var $color = 'green'}
            {var $flag = '+'}
        {elseif $Diff == 0}
            {var $color = 'gray'}
            {var $flag = ''}
        {elseif $Diff < 0}
            {var $color = 'red'}
            {var $flag = ''}
        {/if}

        {if $he['rev'] == 1}
            {var $diff = 'span'}
            {var $disdiff = true}
        {/if}

        <div class="recent-tr">
            <div class="recent-td">
                <a href="/w/{$title|escapeUrl}">{$title}</a> 
                <span class="recent-history-length history-{$color}">{$flag.$Diff}</span>
            </div>
            <div class="recent-td recent-tool">
                <div class="recent-buttonarea">
                    <a class="pressdo-btn btn-round" role="button" href="/history/{$title|escapeUrl}" title="역사">역사</a>
                    <a n:tag="$diff" role="button" n:attr="disabled: $disdiff" class="pressdo-btn btn-round" href="/diff/{$title|escapeUrl}?uuid={$he['uuid']}" title="비교">비교</a>
                    <a class="pressdo-btn btn-round" role="button" href="/discuss/{$title|escapeUrl}" title="토론">토론</a>
                </div>
            </div>
            <div class="recent-td">
                <span>
                    <div class="context-menu v-popper v-popper--theme-contextmenu">
                    {if $he['author'] === null}
                        {var $idset[$he['contributor_uuid']] = ['IP', $he['ip']]}
                        <a style="{$he['style']}" class="user" href="/contribution/{$he['contributor_uuid']}/document" class="user" aria-describedby="contextmenu-{$he['contributor_uuid']}">{$he['ip']}</a>
                    {else}
                        {var $idset[$he['contributor_uuid']] = [$lang['acl']['member'].($he['admin'] ? ' ('.$lang['perm']['admin'].')':''), $he['author']]}
                        <a style="{$he['style']}" class="user user-member" href="/w/{'사용자:'.$he['author']|escapeUrl}" class="user user-member" aria-describedby="contextmenu-{$he['contributor_uuid']}">{$he['author']}</a>
                    {/if}
                    </div>
                </span>
            </div>
            <div class="recent-td recent-datetime">{$he['date']|localdate|noescape}</div>
            <div n:if="($he['log']|length) > 0 || $he['logtype'] !== 'modify'" class="recent-td recent-log">
                <span class="recent-changes" n:ifcontent>{$he['log']}</span>
                <i>
                {switch $he['logtype']}
                    {case 'revert'}
                        ({sprintf($lang['log']['revert'], $he['target_rev'])})
                    {case 'delete', 'create'}
                        ({$lang['log'][$he['logtype']]})
                    {case 'move'}
                        ({sprintf($lang['log']['move'], $he['from'], $he['to'])})
                    {case 'acl'}
                        ({sprintf($lang['log']['acl'], $he['acl'])})
                {/switch}
                </i>
            </div>
        </div>
    {/foreach}
</div>
{include '../userpopper.latte', idset: $idset}