<form class="spacing-ud" method="GET">
    <input type="hidden" name="page" value="Search">
    <select class="search" name="namespace">
        <option>{$lang['recent']['logtype_all']}</option>
        <option n:foreach="$namespace as $n" value="{$n}">{$n}</option>
    </select>
    <select class="search" name="target">
        <option n:attr="selected: $wiki['page']['data']['body']['target'] == 'title_content'" value="title_content">{$lang['search']['title_content']}</option>
        <option n:attr="selected: $wiki['page']['data']['body']['target'] == 'title'" value="title">{$lang['search']['title']}</option>
        <option n:attr="selected: $wiki['page']['data']['body']['target'] == 'content'" value="content">{$lang['search']['content']}</option>
        <option n:attr="selected: $wiki['page']['data']['body']['target'] == 'raw'" value="raw">{$lang['search']['raw']}</option>
    </select>
    <input class="search" type="text" name="query" value="{$wiki['page']['data']['body']['query']}">
    <button type="submit" class="pressdo-btn-nonflex btn-lightblue">{$lang['btn']['search']}</button>
</form>
<div class="a-mono search">
    <div>
        <div class="l">
            <i class="ion-ios-arrow-forward"></i>{$lang['msg']['search_go_directly']}
        </div>
        <div class="r">
            <a class="pressdo-btn-nonflex" href="/w/{$wiki['page']['data']['body']['query']}">{sprintf($lang['search']['go'], $wiki['page']['data']['body']['query'])}</a>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="s">
    {sprintf($lang['search']['count'], $wiki['page']['data']['resultCount'])} / {sprintf($lang['search']['period'], $wiki['page']['data']['period'])}
</div>
<section class="search">
    <div n:foreach="$wiki['page']['data']['result'] as $r">
        {if $r['document']['forceShowNamespace'] === false}
            {var $title = $r['document']['title']}
        {else}
            {var $title = $r['document']['namespace'].':'.$r['document']['title']}
        {/if}
        <h4>
            <i class="ion-md-document"></i>
            <a href="/w/{$title|escapeUrl}">{$title}</a>
        </h4>
        <div>
            {$r['content']|noescape}
        </div>
    </div>
    <nav class="pages-nums">
        <ul>
            <li><a href="/Search?">1</a></li>
        </ul>
    </nav>
    <div class="clearfix"></div>
</section>